body {
    margin: 0;;
    font-family: 'Inter', system-ui, sans-serif;
    background-color: $color-white;
    color: $color-text;
}

.container-xxl {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
}
